
.subtitulo{
	padding-bottom: 10px;
}


.logo{
	width: 90%;
}


/*HEADER, BARRA DE NAVEGACION*/

div > nav{
	position:absolute;
	width:200px;
	height:100vh;
	top:0;
	left:-220px; 
	position:absolute;
	padding-top:47px;
	transition:all .5s ease;
}

.hamburguesa {
	visibility: visible;
	position:absolute;
	width: 35px;
	line-height:1.1;
	text-align:center;
	top: 12px;
	left: 8px;
	border-radius:3px;
	background-color: #c5f9f9;
	transition:all .5s ease;
	z-index:10;
}

.hamburguesa::before {
	content:"☰";
    font-size:32px;
    color: #845B5B;
}

div > nav > ul > li {
	display: block;
	width:96%;
	margin:0 auto;
	line-height:2;
	position:relative;
	border-bottom:.5px solid white;
	border-top:.5px solid white;
	text-align:center;
}

div > nav > ul > li:last-child {
    float: left;
}


.checkbox {
	display: none;
}

.checkbox:checked ~ nav {
	left: 0px;
	position: fixed;
}

.checkbox:checked ~ .hamburguesa {
	left:208px;
    position:fixed;
}

/*CUERPO*/



/*CUERPO FORMULARIOS*/


div.formulario {
	width: 80%;
}


/*FORMULARIO INDEX PEQUEÑO*/


#formularioIndex > form{
	width: 40%;
}

